body{
    background: #acacac;
}
ul {
    background: #686868;
}


.social{
    display: flex;
}
body ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
    margin: auto;
}
@media screen and (max-width:800px ){
    body ul {
        display: flex;
    }
    .menu{
        display: flex;
    }
}
/*
.menu{
    display: flex;
}*/
